.content {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 25px;
  text-align: center;
  height: 100%;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  overflow: hidden;
}

.navbar li {
  float: left;
  height: 100%;
}

.navbar li.home {
  padding-top: 3px;
}

.navbar li.menu {
  float: right;
  font-size: 20px;
}

.nav-link {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #2F330B;
}

.nav-link:hover {
  background-color: #F3F5E8;
}