.choose-scrollmenu {
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  width: 30%;
  margin: auto;
  height: 400px;
  border-radius: 4px;
}

.choose-scrollmenu div {
  display: block;
  color: #2F330B;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.choose-scrollmenu div:hover {
  background-color: #B6C457;
  color: white;
  cursor: pointer;
}

.choose-title {
  font-size: 48px;
}