.home-buttons {
  margin-top: 2%;
  display: inline-block;
  width: 70%;
}

.home-title {
  font-size: 64px;
  margin-top: 10%;
  padding: 0;
}

.home-buttons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
}

.home-content {
  display: table;
  width: 100%;
  height: 100%;
}

.home-middle {
  display: table-cell;
  vertical-align: middle;
}