.ingredientList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

.el-message-box__title {
  font-family: "Arima Madurai";
  font-size: 21px;
}

/* .container {
  height: 100%;
  padding: 0;
  margin: 0;
} */

.button-confirm {
  background: #A2B327;
  color: white;
  border-color: #A2B327;
}

.button-confirm:focus, .button-confirm:active, .button-confirm:hover {
  background: #B6C457;
  color: white;
  border: 1;
  border-color: #B6C457;
}

.button-add {
  background: #292C3F;
  color: white;
}

.button-add:hover {
  color: #292C3F;
  border: #292C3F;
  background: white;
}

.button-add:focus {
  outline: none;
}

.button-remove, .button-remove:focus {
  background: #AA1B1F;
  color: white;
  float: right;
  border: 0;
  border-color: #AA1B1F;
}

.button-remove:active, .button-remove:hover {
  background: #C35F62;
  color: white;
  border: 1;
  border-color: #C35F62;
}

.list-item {
  position: relative;
  height: 36px;
  width: 100%;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  padding-left: 12px;
  background: #D3D3D3;
}